@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}


body {
    margin: 0px;
    padding: 0px;
}

.one {
    background-color: rgb(228, 222, 222);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    margin: 5px;
}

.home {
    color:rgb(230, 45, 91);
}

.logo {
    align-items: center;
    color: rgb(230, 45, 91);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 40px;
}

.name {
    margin-top: 15px;
    font-size: 45px;
    font-family: 'Arvo', serif;
}

.name-edit {
   color: rgb(230, 45, 91);
}

.info {
    margin-top: 50px;
}

.info-text{
    display: flex;
    justify-content: center;
}

.info-img img{
    border-radius: 8px;
}

.btn {
    height: 40px;
    width: 200px;
    margin-top: 60px;
    background: rgb(230, 45, 91);
}

.btn:hover {
    cursor: pointer;
    border-radius: 6px;
    background: rgb(224, 13, 66);
}

.socials {
    display: flex;
    margin-top: 150px;
    margin-left: 40px;
}

.socials a img {
    height: 40px;
    width: 40px;
}

.section-two {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.about{
    margin-left: 20px;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.skill {
    display: flex;
    justify-content: center;
}

.progress-bar {
	position: relative;
	width: 400px;
	height: .5em;
	background-color: #111;
	border-radius: 1.5em;
	color: white;
}

.progress {
    display: flex;
    
}

.col-2 {
    margin-left: 30px;
}

.third {
    margin-top: 150px;
    margin-left: 32em;
}

.projects {
    margin-top: 50px;
    margin-left: 1em;
    display: flex;
}

.card {
    height: 270px;
    width: 270px;
    background-image: url('../images/moviezone.png');
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    opacity: 60%;
    transform: scale(1.03)
}

.links {
    margin: 0 auto;
    margin-top: 6px;
    border: 0rem solid white;
    border-radius: 20px;
    background: #999;
    width: 5rem;
}

.links a img {
    height: 35px;
    width: 30px;
    margin-left: 6px;
    padding: 0px 2px;
}

.padding{
    display: flex;
    padding: 4px 2px;
}

.project-name {
    margin-left: 5em;
}

.third{
    background: rgb(224, 13, 66);
    margin: 0 auto;
}

.third h2{
    display: flex;
    justify-content: center;
}

.fourth{
    background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

.white{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.resume{
    display: flex;
    justify-content: center;
}

.category{
   margin-top: 4px;
}

.education{
    display: flex;
    justify-content: center;
}

.edu1{
    background-color:rgb(180, 175, 175);
    border: 0 solid red;
    border-radius: 8px;
}

.edu1:hover{
    transform: scale(1.03);
    border: 2px solid red;
}

.edu2{
    background-color:rgb(180, 175, 175);
    border: 0 solid red;
    border-radius: 8px;
    margin-left: 10px;
}

.edu2:hover{
    transform: scale(1.03);
    border: 2px solid red;
}

.pd{
    padding: 10px;
}

