@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}

nav {
    display: flex;
    margin-top: 30px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 50rem;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    margin: 5px;
}

.home {
    color:rgb(230, 45, 91);
}

.logo {
    align-items: center;
    color: rgb(230, 45, 91);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 40px;
}

.name {
    margin-top: 15px;
    font-size: 45px;
    font-family: 'Arvo', serif;
}

.name-edit {
   color: rgb(230, 45, 91);
}

.info {
    
    margin-top: 50px;
}

button {
    height: 40px;
    width: 200px;
    margin-top: 60px;
    flex-direction: row;
    background: rgb(230, 45, 91);
}

button:hover {
    cursor: pointer;
}

.text {
    margin-top: 10rem;
    margin-left: 35rem;
    margin-right: 5px;
}

.img {
    height: 40px;
    width: 30px;
    margin-top: 0.5px;
    margin-left: 32rem;
}

.socials {
    display: flex;
    margin-top: 300px;
    margin-left: 40px;
}

.socials a img {
    height: 40px;
    width: 40px;
}